@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}
//1920 - 1200
:root {
  --font-46: clamp(2.5rem, -0.4167rem + 3.8889vw, 4.25rem); //40 - 68
  --font-20: clamp(1.1875rem, 0.4583rem + 0.9722vw, 1.625rem); // 19 - 26
  --font-24: clamp(1.5rem, 0.875rem + 0.8333vw, 1.875rem);
  --font-14: clamp(0.875rem, 0.4819rem + 0.4839vw, 1.0625rem);
  --font-16: clamp(1rem, 0.4758rem + 0.6452vw, 1.25rem);
  --font-66: clamp(3.75rem, -0.4167rem + 5.5556vw, 6.25rem);
  --font-18: 18px;
  --primaryBlack: #000;
  --secondaryBlack: #3b3b3b;
  --tertiaryBlack: #3b3b3b99;
  --green: #d4ff32;
  --blue: #342c7e;
  --paddingX: 10%;
  --headingTop: 5px;
  --paddingY: clamp(6.25rem, 1.0417rem + 6.9444vw, 9.375rem); // 100 - 150
  --navBtn: clamp(4.0625rem, 2.5rem + 2.0833vw, 5rem); //65 - 80
  --spaceBelow_heading: clamp(2.1875rem, 0.625rem + 2.0833vw, 3.125rem); //35 - 50
}

body {
  background-color: #fffff4;
}

.heroBanner.activated {
  transform: translateY(150px) scale(1, 1);
  filter: blur(10px) brightness(0.8);
}
.heroBanner {
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom;
  filter: blur(0px) brightness(1);
  position: relative;
  height: 95vh;
  width: 100%;
  z-index: 1;
  & > video,
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    padding: calc(
        calc(clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) * 2) + clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem)
      )
      var(--paddingX) var(--spaceBelow_heading);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & > div {
      h1 {
        position: relative;
        font-size: var(--font-46);
        font-weight: 400;
        color: #fff;
        margin-top: var(--headingTop);
        line-height: 1.2;
        z-index: 1;
      }
      p {
        position: relative;
        z-index: 1;
        font-size: var(--font-20);
        font-weight: 700;
        color: #ffffff99;
        text-transform: uppercase;
      }
    }
    .breadcrub {
      position: relative;
      z-index: 1;
      font-size: var(--font-16);
      color: #ffffff99;
      * {
        text-decoration: none;
        // color: var(--secondaryBlack);
        color: #ffffff99;
      }
    }
    .layer {
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      pointer-events: none;
    }
    .layer2 {
      position: absolute;
      pointer-events: none;
      height: 40%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000cf 100%);
    }
  }
}

.cta {
  all: unset;
  background-color: var(--green);
  color: #000;
  padding: clamp(0.3125rem, -0.7292rem + 1.3889vw, 0.9375rem) clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem);
  text-transform: uppercase;
  font-size: var(--font-20);
  width: fit-content;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  img {
    width: 20px;
    height: 20px;
  }
}

.heading {
  p {
    font-size: var(--font-20);
    color: var(--tertiaryBlack);
    font-weight: 700;
    text-transform: uppercase;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: var(--font-46);
    line-height: 1.2;
    font-weight: 400;
    color: var(--secondaryBlack);
    margin-top: var(--headingTop);
  }
}

#our_clients {
  position: relative;
  .heading {
    padding: var(--paddingY) var(--paddingX);
    padding-bottom: 0;
  }
  .marquee-container {
    overflow: hidden;
    width: 100%;
    // background: #f5f5f5;
    // padding: 20px 0;
    position: relative;
    padding-bottom: var(--paddingY);
  }

  .marquee-track.left-slide {
    margin: var(--spaceBelow_heading) 0 calc(var(--spaceBelow_heading) * 1.5);
  }
  .marquee-track {
    display: flex;
    width: max-content;
  }

  .marquee-content {
    display: flex;
  }

  .marquee-content img {
    height: clamp(3.125rem, 1.0417rem + 2.7778vw, 4.375rem); // 50-70
    margin-right: clamp(2.5rem, 2rem + 2.5vw, 5rem);
    object-fit: contain;
  }
}

#our_social {
  position: relative;
  //   overflow: hidden;
  & > img {
    width: 80%;
    position: absolute;
    transform: rotate(270deg) translate(10%, -10%);
    inset: 0;
    z-index: 0;
  }
  & > .cta {
    display: none;
  }
  .our_social_head {
    position: relative;
    padding: var(--paddingY) var(--paddingX);
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spaceBelow_heading);
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .social_media {
    position: relative;
    .social_media_card {
      width: clamp(17.5rem, 5rem + 16.6667vw, 25rem);
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: aqua;
      aspect-ratio: 286/358;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
      }
      .social_icon {
        width: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
        height: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 1;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

#faqs {
  padding: var(--paddingY) var(--paddingX);
  position: relative;
  & > img {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: -1;
    transform: translate(0%, -25%);
  }
  .heading {
    margin-bottom: var(--spaceBelow_heading);
  }
  .accordian {
    position: relative;
    .faq {
      border-bottom: 1px solid grey;
      padding: 40px 0px;
      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .open {
          width: 20px;
          height: 20px;
          cursor: pointer;
          display: block;
          transform: translateY(-3px);
          transition: all 0.3s;
        }
        p {
          font-size: var(--font-24);
          color: var(--text-color);
          font-weight: 500;
        }
      }
      .ans {
        padding-right: 30px;
        display: none;
        p,
        li {
          color: var(--tertiaryBlack);
          font-size: var(--font-20);
          padding-top: 40px;
          font-weight: 300;
          span {
            color: var(--secondaryBlack);
          }
        }
        ul,
        ol {
          padding-left: 1.2rem;
        }
      }
    }
    .faq.default-open {
      .head {
        .open {
          transform: rotateX(180deg);
        }
      }
    }
  }
}

textarea {
  resize: none;
}
#newsletter {
  padding: var(--paddingY) var(--paddingX);
  position: relative;
  .newsletter_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    label {
      font-size: var(--font-16);
      // margin-bottom: 20px;
    }
    input {
      width: 100%;
      border: none;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      padding: 10px;
      margin-top: 15px;
      font-size: var(--font-16);
    }
    .f_name {
      grid-area: 1 / 1 / 2 / 2;
    }

    .email_g {
      grid-area: 1 / 2 / 2 / 3;
    }
    .cta {
      grid-area: 2 / 1 / 3 / 3;
      height: fit-content;
      margin-top: 30px;
    }
  }
}

#footerContact {
  position: relative;
  aspect-ratio: 16/8;
  margin: 0 calc(var(--paddingX) / 2);
  margin-bottom: -25%;
  & > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    pointer-events: none;
  }
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(90deg, #000, transparent);
  }
  .content {
    padding: calc(var(--paddingY) / 3) calc(var(--paddingX) / 2);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spaceBelow_heading);
    width: 55%;
    min-width: 400px;
    .heading {
      p {
        color: var(--green);
      }
      h3 {
        font-weight: 400;
        color: #fff;
        white-space: pre;
      }
    }
    & > p {
      font-size: var(--font-20);
      color: #fff;
      font-weight: 200;
    }
  }
}
footer {
  background: linear-gradient(180deg, #2f2874 0%, #120d3c 100%);
  padding: 30% var(--paddingX) calc(var(--paddingY) / 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--paddingY) / 1.5);
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--paddingY) / 2);
    & > img {
      height: clamp(5.625rem, 0.4167rem + 6.9444vw, 8.75rem);
    }
    .title {
      font-weight: 600;
      color: #fff;
      margin-bottom: calc(var(--font-14) / 2);
      font-size: var(--font-16);
    }
    .copy {
      font-weight: 300;
      color: #fff;
      font-size: var(--font-16);
      line-height: 1.3;
    }
  }
  .middle {
    display: grid;
    width: 100%;
    grid-template-columns: calc(25% - 25px) calc(25% - 25px) calc(25% - 25px) calc(25% - 25px);
    gap: 33.33px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: var(--font-16);
      & > div {
        margin-bottom: var(--font-16);
      }
      * {
        text-decoration: unset;
        font-size: var(--font-16);
        color: #fff;
        font-weight: 200;
      }
      .title {
        font-weight: 400;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .left {
      display: flex;
      flex-direction: column;
      gap: calc(var(--font-14) / 2);
      .right {
        display: none;
      }
      & > div {
        display: flex;
        gap: 10px;
        img {
          width: var(--font-24);
          height: var(--font-24);
          aspect-ratio: 1;
          object-fit: contain;
        }
      }
      P {
        font-size: var(--font-14);
        color: #7870c8;
      }
    }
    .right {
      display: flex;
      gap: var(--font-46);
      * {
        text-decoration: unset;
        font-size: var(--font-14);
        color: #7870c8;
      }
    }
  }
}

header {
  a {
    line-height: 1;
  }
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) var(--paddingX);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem);
  }
  button {
    all: unset;
    cursor: pointer;
    img {
      pointer-events: none;
      height: clamp(2.1875rem, 0.877rem + 1.6129vw, 2.8125rem);
    }
    .open {
      display: block;
    }
    .close {
      display: none;
    }
  }
  button.open {
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}

#header.active {
  display: grid;
  opacity: 1;
  transform: translateY(0%);
  pointer-events: unset;
}
#header {
  position: fixed;
  height: 100vh;
  width: 100%;
  padding-top: calc(
    clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) * 2 + clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem)
  );
  padding-left: var(--paddingX);
  z-index: 98;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #fff;
  display: grid;
  pointer-events: none;
  grid-template-columns: 35% 60%;
  gap: 5%;
  & > img {
    position: absolute;
    left: var(--paddingX);
    height: clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem);
    margin-top: clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem);
    z-index: 100;
  }
  .right {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e8e8;
    border-right: 0;
    a {
      font-size: calc(var(--font-20) * 2);
      color: #c9c9c9;
      width: 100%;
      padding-left: calc(var(--font-46) / 1.5);
      text-decoration: unset;
      line-height: 1.4;
    }
    a.active,
    a:hover {
      background-color: var(--blue);
      color: #fff;
      font-weight: 600;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
    .bannerArea.active,
    .else.active {
      opacity: 1;
      transform: translate(0, 0);
      pointer-events: unset;
    }
    .else {
      opacity: 0;
      transform: translate(0, 0px);
      transition: all 0.5s;
      pointer-events: none;
      & > img,
      & > video {
        width: 100%;
        aspect-ratio: 16/7.5;
        object-fit: cover;
      }
    }
    .bannerArea {
      width: 100%;
      opacity: 0;
      position: absolute;
      transform: translate(0, 0px);
      transition: all 0.5s;
      pointer-events: none;
      .img {
        width: 100%;
        aspect-ratio: 16/7.5;
        position: relative;
        video,
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: var(--font-46);
        .headingLike {
          margin-top: var(--font-14);
          .title {
            font-size: var(--font-14);
            color: var(--tertiaryBlack);
            font-weight: 700;
            text-transform: uppercase;
          }
          p {
            font-size: var(--font-24);
            color: var(--secondaryBlack);
            line-height: 1.3;
            width: min(100%, 400px);
          }
        }
        .links {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          gap: calc(var(--font-14) / 2);
          a {
            color: var(--secondaryBlack);
            font-size: var(--font-14);
            text-decoration: none;
            display: flex;
            align-items: center;
            line-height: 1;
            transition: transform 0.2s ease-in-out;
            &:hover {
              transform: translateX(-5px);
            }
            span {
              color: var(--tertiaryBlack);
            }
          }
        }
      }
    }

    .mediaArea {
      display: flex;
      flex-direction: column;
      gap: calc(var(--font-14) / 3);
      .right {
        display: none;
      }
      & > div {
        display: flex;
        gap: 5px;
        img {
          width: var(--font-20);
          height: var(--font-20);
          aspect-ratio: 1;
          object-fit: contain;
          filter: grayscale(1) brightness(1.5);
        }
      }
      P {
        font-size: var(--font-14);
        color: #c9c9c9;
      }
    }
  }
}

@media screen and (max-width: 1546px) {
  :root {
    --paddingX: 5%;
    --paddingY: clamp(5rem, -4.1734rem + 11.2903vw, 9.375rem); // 1300 - 1920  80 - 100
  }
  #footerContact {
    aspect-ratio: 16/7;
  }
}

@media screen and (max-width: 1200px) {
  .heroBanner {
    height: auto;
    aspect-ratio: 16/10;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-66: 38px;
    --font-46: 30px;
    --font-20: 16px;
    --navBtn: 45px;
    --paddingY: 50px;
    --font-24: 20px;
    --font-14: 13px;
    --font-16: 15px;
    --spaceBelow_heading: 30px;
  }
  .heroBanner {
    height: 95vh;
    aspect-ratio: initial;
  }

  #newsletter {
    .newsletter_form {
      display: flex;
      flex-direction: column;
    }
  }
  #our_clients {
    .marquee-content {
      img {
        height: 40px;
        width: 80px;
      }
    }
  }
  #our_social {
    & > .cta {
      display: block;
      margin: var(--spaceBelow_heading) 0;
      margin-left: var(--paddingX);
    }
    .our_social_head {
      .cta {
        display: none;
      }
    }
  }

  #footerContact {
    aspect-ratio: initial;
    .content {
      padding: var(--paddingY) var(--paddingX);
      width: auto;
      min-width: initial;
    }
    & > img {
      object-position: right;
    }
    .layer {
      background: #000000c3;
    }
  }
  footer {
    gap: 60px;
    padding-bottom: 50px;
    padding-top: 38%;
    .top {
      flex-direction: column;
      align-items: flex-start;
      & > img {
        height: 70px;
      }
      .copy {
        line-height: 1.3;
      }
    }
    .middle {
      grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
      gap: 25px;
      row-gap: 50px;
    }
    .bottom {
      justify-content: center;
      .left {
        align-items: center;
        .right {
          display: flex;
        }
      }
      .right {
        display: none;
      }
    }
  }

  header {
    .logo {
      height: 30px;
    }
    button {
      img {
        height: 30px;
      }
    }
  }
  #header{
    padding-top: 82px;
    & > img{
      height: 30px;
    }
  }

  .heroBanner{
    .content{
      padding-top: 82px;
    }
  }
}
