@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

:root {
  --font-46: clamp(2.5rem, -0.4167rem + 3.8889vw, 4.25rem);
  --font-20: clamp(1.1875rem, 0.4583rem + 0.9722vw, 1.625rem);
  --font-24: clamp(1.5rem, 0.875rem + 0.8333vw, 1.875rem);
  --font-14: clamp(0.875rem, 0.4819rem + 0.4839vw, 1.0625rem);
  --font-16: clamp(1rem, 0.4758rem + 0.6452vw, 1.25rem);
  --font-66: clamp(3.75rem, -0.4167rem + 5.5556vw, 6.25rem);
  --font-18: 18px;
  --primaryBlack: #000;
  --secondaryBlack: #3b3b3b;
  --tertiaryBlack: #3b3b3b99;
  --green: #d4ff32;
  --blue: #342c7e;
  --paddingX: 10%;
  --headingTop: 5px;
  --paddingY: clamp(6.25rem, 1.0417rem + 6.9444vw, 9.375rem);
  --navBtn: clamp(4.0625rem, 2.5rem + 2.0833vw, 5rem);
  --spaceBelow_heading: clamp(
    2.1875rem,
    0.625rem + 2.0833vw,
    3.125rem
  );
}

body {
  background-color: #fffff4;
}

.heroBanner.activated {
  transform: translateY(150px) scale(1, 1);
  filter: blur(10px) brightness(0.8);
}

.heroBanner {
  transition: transform 0.2s ease-in-out;
  transform-origin: bottom;
  filter: blur(0px) brightness(1);
  position: relative;
  height: 95vh;
  width: 100%;
  z-index: 1;
}
.heroBanner > video, .heroBanner > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroBanner .content {
  padding: calc(clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) * 2 + clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem)) var(--paddingX) var(--spaceBelow_heading);
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.heroBanner .content > div h1 {
  position: relative;
  font-size: var(--font-46);
  font-weight: 400;
  color: #fff;
  margin-top: var(--headingTop);
  line-height: 1.2;
  z-index: 1;
}
.heroBanner .content > div p {
  position: relative;
  z-index: 1;
  font-size: var(--font-20);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
.heroBanner .content .breadcrub {
  position: relative;
  z-index: 1;
  font-size: var(--font-16);
  color: rgba(255, 255, 255, 0.6);
}
.heroBanner .content .breadcrub * {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.heroBanner .content .layer {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  pointer-events: none;
}
.heroBanner .content .layer2 {
  position: absolute;
  pointer-events: none;
  height: 40%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8117647059) 100%);
}

.cta {
  all: unset;
  background-color: var(--green);
  color: #000;
  padding: clamp(0.3125rem, -0.7292rem + 1.3889vw, 0.9375rem) clamp(1.25rem, -0.8333rem + 2.7778vw, 2.5rem);
  text-transform: uppercase;
  font-size: var(--font-20);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.cta img {
  width: 20px;
  height: 20px;
}

.heading p {
  font-size: var(--font-20);
  color: var(--tertiaryBlack);
  font-weight: 700;
  text-transform: uppercase;
}
.heading h1,
.heading h2,
.heading h3,
.heading h4 {
  font-size: var(--font-46);
  line-height: 1.2;
  font-weight: 400;
  color: var(--secondaryBlack);
  margin-top: var(--headingTop);
}

#our_clients {
  position: relative;
}
#our_clients .heading {
  padding: var(--paddingY) var(--paddingX);
  padding-bottom: 0;
}
#our_clients .marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding-bottom: var(--paddingY);
}
#our_clients .marquee-track.left-slide {
  margin: var(--spaceBelow_heading) 0 calc(var(--spaceBelow_heading) * 1.5);
}
#our_clients .marquee-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
#our_clients .marquee-content {
  display: flex;
}
#our_clients .marquee-content img {
  height: clamp(3.125rem, 1.0417rem + 2.7778vw, 4.375rem);
  margin-right: clamp(2.5rem, 2rem + 2.5vw, 5rem);
  -o-object-fit: contain;
     object-fit: contain;
}

#our_social {
  position: relative;
}
#our_social > img {
  width: 80%;
  position: absolute;
  transform: rotate(270deg) translate(10%, -10%);
  inset: 0;
  z-index: 0;
}
#our_social > .cta {
  display: none;
}
#our_social .our_social_head {
  position: relative;
  padding: var(--paddingY) var(--paddingX);
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spaceBelow_heading);
}
#our_social .swiper {
  width: 100%;
  height: 100%;
}
#our_social .social_media {
  position: relative;
}
#our_social .social_media .social_media_card {
  width: clamp(17.5rem, 5rem + 16.6667vw, 25rem);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: aqua;
  aspect-ratio: 286/358;
}
#our_social .social_media .social_media_card > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
}
#our_social .social_media .social_media_card .social_icon {
  width: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  height: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}
#our_social .social_media .social_media_card .social_icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#faqs {
  padding: var(--paddingY) var(--paddingX);
  position: relative;
}
#faqs > img {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
  transform: translate(0%, -25%);
}
#faqs .heading {
  margin-bottom: var(--spaceBelow_heading);
}
#faqs .accordian {
  position: relative;
}
#faqs .accordian .faq {
  border-bottom: 1px solid grey;
  padding: 40px 0px;
}
#faqs .accordian .faq .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#faqs .accordian .faq .head .open {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
  transform: translateY(-3px);
  transition: all 0.3s;
}
#faqs .accordian .faq .head p {
  font-size: var(--font-24);
  color: var(--text-color);
  font-weight: 500;
}
#faqs .accordian .faq .ans {
  padding-right: 30px;
  display: none;
}
#faqs .accordian .faq .ans p,
#faqs .accordian .faq .ans li {
  color: var(--tertiaryBlack);
  font-size: var(--font-20);
  padding-top: 40px;
  font-weight: 300;
}
#faqs .accordian .faq .ans p span,
#faqs .accordian .faq .ans li span {
  color: var(--secondaryBlack);
}
#faqs .accordian .faq .ans ul,
#faqs .accordian .faq .ans ol {
  padding-left: 1.2rem;
}
#faqs .accordian .faq.default-open .head .open {
  transform: rotateX(180deg);
}

textarea {
  resize: none;
}

#newsletter {
  padding: var(--paddingY) var(--paddingX);
  position: relative;
}
#newsletter .newsletter_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}
#newsletter .newsletter_form label {
  font-size: var(--font-16);
}
#newsletter .newsletter_form input {
  width: 100%;
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  font-size: var(--font-16);
}
#newsletter .newsletter_form .f_name {
  grid-area: 1/1/2/2;
}
#newsletter .newsletter_form .email_g {
  grid-area: 1/2/2/3;
}
#newsletter .newsletter_form .cta {
  grid-area: 2/1/3/3;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 30px;
}

#footerContact {
  position: relative;
  aspect-ratio: 16/8;
  margin: 0 calc(var(--paddingX) / 2);
  margin-bottom: -25%;
}
#footerContact > img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  pointer-events: none;
}
#footerContact .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  pointer-events: none;
  background: linear-gradient(90deg, #000, transparent);
}
#footerContact .content {
  padding: calc(var(--paddingY) / 3) calc(var(--paddingX) / 2);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spaceBelow_heading);
  width: 55%;
  min-width: 400px;
}
#footerContact .content .heading p {
  color: var(--green);
}
#footerContact .content .heading h3 {
  font-weight: 400;
  color: #fff;
  white-space: pre;
}
#footerContact .content > p {
  font-size: var(--font-20);
  color: #fff;
  font-weight: 200;
}

footer {
  background: linear-gradient(180deg, #2f2874 0%, #120d3c 100%);
  padding: 30% var(--paddingX) calc(var(--paddingY) / 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--paddingY) / 1.5);
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--paddingY) / 2);
}
footer .top > img {
  height: clamp(5.625rem, 0.4167rem + 6.9444vw, 8.75rem);
}
footer .top .title {
  font-weight: 600;
  color: #fff;
  margin-bottom: calc(var(--font-14) / 2);
  font-size: var(--font-16);
}
footer .top .copy {
  font-weight: 300;
  color: #fff;
  font-size: var(--font-16);
  line-height: 1.3;
}
footer .middle {
  display: grid;
  width: 100%;
  grid-template-columns: calc(25% - 25px) calc(25% - 25px) calc(25% - 25px) calc(25% - 25px);
  gap: 33.33px;
}
footer .middle > div {
  display: flex;
  flex-direction: column;
  gap: var(--font-16);
}
footer .middle > div > div {
  margin-bottom: var(--font-16);
}
footer .middle > div * {
  text-decoration: unset;
  font-size: var(--font-16);
  color: #fff;
  font-weight: 200;
}
footer .middle > div .title {
  font-weight: 400;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .bottom .left {
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-14) / 2);
}
footer .bottom .left .right {
  display: none;
}
footer .bottom .left > div {
  display: flex;
  gap: 10px;
}
footer .bottom .left > div img {
  width: var(--font-24);
  height: var(--font-24);
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .bottom .left P {
  font-size: var(--font-14);
  color: #7870c8;
}
footer .bottom .right {
  display: flex;
  gap: var(--font-46);
}
footer .bottom .right * {
  text-decoration: unset;
  font-size: var(--font-14);
  color: #7870c8;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) var(--paddingX);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  line-height: 1;
}
header .logo {
  height: clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem);
}
header button {
  all: unset;
  cursor: pointer;
}
header button img {
  pointer-events: none;
  height: clamp(2.1875rem, 0.877rem + 1.6129vw, 2.8125rem);
}
header button .open {
  display: block;
}
header button .close {
  display: none;
}
header button.open .open {
  display: none;
}
header button.open .close {
  display: block;
}

#header.active {
  display: grid;
  opacity: 1;
  transform: translateY(0%);
  pointer-events: unset;
}

#header {
  position: fixed;
  height: 100vh;
  width: 100%;
  padding-top: calc(clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem) * 2 + clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem));
  padding-left: var(--paddingX);
  z-index: 98;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #fff;
  display: grid;
  pointer-events: none;
  grid-template-columns: 35% 60%;
  gap: 5%;
}
#header > img {
  position: absolute;
  left: var(--paddingX);
  height: clamp(2.5rem, 0.5343rem + 2.4194vw, 3.4375rem);
  margin-top: clamp(1.5625rem, -1.7137rem + 4.0323vw, 3.125rem);
  z-index: 100;
}
#header .right {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-right: 0;
}
#header .right a {
  font-size: calc(var(--font-20) * 2);
  color: #c9c9c9;
  width: 100%;
  padding-left: calc(var(--font-46) / 1.5);
  text-decoration: unset;
  line-height: 1.4;
}
#header .right a.active,
#header .right a:hover {
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
}
#header .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  position: relative;
}
#header .left .bannerArea.active,
#header .left .else.active {
  opacity: 1;
  transform: translate(0, 0);
  pointer-events: unset;
}
#header .left .else {
  opacity: 0;
  transform: translate(0, 0px);
  transition: all 0.5s;
  pointer-events: none;
}
#header .left .else > img, #header .left .else > video {
  width: 100%;
  aspect-ratio: 16/7.5;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .left .bannerArea {
  width: 100%;
  opacity: 0;
  position: absolute;
  transform: translate(0, 0px);
  transition: all 0.5s;
  pointer-events: none;
}
#header .left .bannerArea .img {
  width: 100%;
  aspect-ratio: 16/7.5;
  position: relative;
}
#header .left .bannerArea .img video,
#header .left .bannerArea .img img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .left .bannerArea .content {
  display: flex;
  flex-direction: column;
  gap: var(--font-46);
}
#header .left .bannerArea .content .headingLike {
  margin-top: var(--font-14);
}
#header .left .bannerArea .content .headingLike .title {
  font-size: var(--font-14);
  color: var(--tertiaryBlack);
  font-weight: 700;
  text-transform: uppercase;
}
#header .left .bannerArea .content .headingLike p {
  font-size: var(--font-24);
  color: var(--secondaryBlack);
  line-height: 1.3;
  width: min(100%, 400px);
}
#header .left .bannerArea .content .links {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-14) / 2);
}
#header .left .bannerArea .content .links a {
  color: var(--secondaryBlack);
  font-size: var(--font-14);
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 1;
  transition: transform 0.2s ease-in-out;
}
#header .left .bannerArea .content .links a:hover {
  transform: translateX(-5px);
}
#header .left .bannerArea .content .links a span {
  color: var(--tertiaryBlack);
}
#header .left .mediaArea {
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-14) / 3);
}
#header .left .mediaArea .right {
  display: none;
}
#header .left .mediaArea > div {
  display: flex;
  gap: 5px;
}
#header .left .mediaArea > div img {
  width: var(--font-20);
  height: var(--font-20);
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(1) brightness(1.5);
}
#header .left .mediaArea P {
  font-size: var(--font-14);
  color: #c9c9c9;
}

#lead_popup_form {
  position: fixed;
  display: none;
  inset: 0;
  z-index: 999;
  align-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: auto;
}
#lead_popup_form .popup_container {
  background-color: #fff;
  padding: 50px 72px;
  max-width: 1600px;
  width: 90vw;
  margin: 0 auto;
}
#lead_popup_form .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
#lead_popup_form .head .logo {
  height: clamp(3.125rem, 2.0833rem + 1.3889vw, 3.75rem);
}
#lead_popup_form .head .close {
  cursor: pointer;
  width: 40px;
}
#lead_popup_form .head .close img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#lead_popup_form .heading h2 {
  color: var(--blue);
  font-weight: 500;
  max-width: 900px;
  font-size: calc(var(--font-46) - 15px);
}
#lead_popup_form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  margin-top: 30px;
}
#lead_popup_form label {
  font-size: var(--font-14);
}
#lead_popup_form input,
#lead_popup_form select,
#lead_popup_form textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  font-size: var(--font-14);
}
#lead_popup_form input[type=checkbox] {
  all: unset;
  position: relative;
  height: 15px !important;
  width: 15px !important;
  margin-top: -5px !important;
}
#lead_popup_form input[type=checkbox]::after {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 0;
  height: 15px;
  width: 15px;
  top: 1px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
}
#lead_popup_form input[type=checkbox]:checked::after {
  content: "";
  background-color: #a2c617;
  border: 1px solid #a2c617;
}
#lead_popup_form input[type=checkbox]:checked::before {
  content: "✓";
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 1;
  top: -2px;
  left: 19%;
  font-weight: 1000;
  font-size: 14px;
}
#lead_popup_form .whatsapp_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#lead_popup_form .whatsapp_container .checkbox_container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
}
#lead_popup_form .whatsapp_container .checkbox_container label {
  font-size: 12px;
}
#lead_popup_form .whatsapp_container .checkbox_container #whatsapp_checkbox {
  width: auto;
  margin: 0;
  padding: 0;
}
#lead_popup_form .policy_container,
#lead_popup_form .e_com_btc {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}
#lead_popup_form .policy_container input,
#lead_popup_form .e_com_btc input {
  width: auto;
  margin: 0;
}
#lead_popup_form .textareaDiv {
  grid-area: 2/3/4/4;
}
#lead_popup_form .btn_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}
#lead_popup_form .btn_container .lead_form_error {
  color: #ff0000;
}

.error_input {
  border: 1px solid #ff0000 !important;
}

@media screen and (max-width: 1600px) {
  #lead_popup_form .popup_container {
    padding: 30px 40px;
    width: 92vw;
  }
  #lead_popup_form .head {
    margin-bottom: 20px;
  }
  #lead_popup_form .head .close {
    width: 30px;
  }
  #lead_popup_form form {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    margin-top: 20px;
  }
  #lead_popup_form .policy_container,
  #lead_popup_form .e_com_btc {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
  }
  #lead_popup_form .policy_container input,
  #lead_popup_form .e_com_btc input {
    width: auto;
    margin: 0;
  }
  #lead_popup_form .textareaDiv {
    grid-area: 2/3/4/4;
  }
  #lead_popup_form .btn_container {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1546px) {
  :root {
    --paddingX: 5%;
    --paddingY: clamp(
      5rem,
      -4.1734rem + 11.2903vw,
      9.375rem
    );
  }
  #footerContact {
    aspect-ratio: 16/7;
  }
}
@media screen and (max-width: 1024px) {
  #lead_popup_form form {
    grid-template-columns: repeat(2, 1fr);
  }
  #lead_popup_form .textareaDiv {
    grid-area: auto;
  }
  #lead_popup_form .whatsapp_input {
    grid-area: 3/1/4/2;
  }
  #lead_popup_form .btn_container {
    grid-column: span 2;
  }
  #lead_popup_form .policy_container,
  #lead_popup_form .e_com_btc {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .heroBanner {
    height: auto;
    aspect-ratio: 16/10;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --font-66: 38px;
    --font-46: 30px;
    --font-20: 16px;
    --navBtn: 45px;
    --paddingY: 50px;
    --font-24: 20px;
    --font-14: 13px;
    --font-16: 15px;
    --spaceBelow_heading: 30px;
  }
  .heroBanner {
    height: 95vh;
    aspect-ratio: initial;
  }
  #newsletter .newsletter_form {
    display: flex;
    flex-direction: column;
  }
  #our_clients .marquee-content img {
    height: 40px;
    width: 80px;
  }
  #our_social > .cta {
    display: block;
    margin: var(--spaceBelow_heading) 0;
    margin-left: var(--paddingX);
  }
  #our_social .our_social_head .cta {
    display: none;
  }
  #footerContact {
    aspect-ratio: initial;
  }
  #footerContact .content {
    padding: var(--paddingY) var(--paddingX);
    width: auto;
    min-width: initial;
  }
  #footerContact > img {
    -o-object-position: right;
       object-position: right;
  }
  #footerContact .layer {
    background: rgba(0, 0, 0, 0.7647058824);
  }
  footer {
    gap: 60px;
    padding-bottom: 50px;
    padding-top: 38%;
  }
  footer .top {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .top > img {
    height: 70px;
  }
  footer .top .copy {
    line-height: 1.3;
  }
  footer .middle {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    gap: 25px;
    row-gap: 50px;
  }
  footer .bottom {
    justify-content: center;
  }
  footer .bottom .left {
    align-items: center;
  }
  footer .bottom .left .right {
    display: flex;
  }
  footer .bottom .right {
    display: none;
  }
  header .logo {
    height: 30px;
  }
  header button img {
    height: 30px;
  }
  #header {
    padding-top: 82px;
  }
  #header > img {
    height: 30px;
  }
  .heroBanner .content {
    padding-top: 82px;
  }
  #lead_popup_form .popup_container {
    width: 100%;
    padding: 60px 20px;
  }
  #lead_popup_form form {
    grid-template-columns: 1fr;
  }
  #lead_popup_form .btn_container {
    grid-column: unset;
  }
  #lead_popup_form .whatsapp_input {
    grid-area: 5/1/6/2;
  }
}/*# sourceMappingURL=common.css.map */