#textile_details {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--paddingY) var(--paddingX);
    gap: var(--spaceBelow_heading);
    overflow: hidden;
    align-items: center;
    & > img {
        position: absolute;
        bottom: -85%;
        right: 0;
        width: 80%;
        z-index: -1;
    }
    & > div {
        & > p {
            font-size: var(--font-20);
            color: var(--tertiaryBlack);
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    h2 {
        font-size: var(--font-46);
        font-weight: 200;
        color: var(--primaryBlack);
        line-height: 1.4;
        strong,
        span {
            font-weight: 600;
            color: var(--blue);
            line-height: 1.4;
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-end;
        gap: 40px;
        p {
            font-size: var(--font-20);
            line-height: 1.5;
            color: var(--secondaryBlack);
            font-weight: 300;
            text-transform: unset;
        }
    }
}

#parking {
    position: relative;
    .parent_pers {
        perspective: 1000px;
        position: sticky;
        top: 0;
    }
    .parent_pers:nth-child(1) {
        .containers {
            background-color: #fff;
        }
    }
    .parent_pers:nth-child(2) {
        .containers {
            background-color: #e1ff70;
            * {
                color: #4d6144 !important;
            }
        }
    }
    .parent_pers:nth-child(3) {
        .containers {
            background-color: var(--blue);
            * {
                color: #ced6ff !important;
            }
        }
    }
    .parent_pers:nth-child(4) {
        .containers {
            background-color: #fff;
        }
    }
    .parent_pers:nth-child(5) {
        .containers {
            background-color: #e1ff70;
            * {
                color: #4d6144 !important;
            }
        }
    }
    .parent_pers:nth-child(6) {
        .containers {
            background-color: var(--blue);
            * {
                color: #ced6ff !important;
            }
        }
    }
    .parent_pers:nth-child(7) {
        .containers {
            background-color: #fff;
        }
    }
    .parent_pers:nth-child(8) {
        .containers {
            background-color: #e1ff70;
            * {
                color: #4d6144 !important;
            }
        }
    }
    .parent_pers:nth-child(9) {
        .containers {
            transform: unset !important;
            filter: unset !important;
            background-color: var(--blue);
            * {
                color: #ced6ff !important;
            }
        }
    }
    
    .containers {
        padding: clamp(2.5rem, -6.7464rem + 10.8303vw, 6.25rem) var(--paddingX);
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: var(--spaceBelow_heading);        
        // transform: rotateX(5deg) rotateY(5deg) scale(1, 1);
        filter: blur(0px) brightness(1);
        transform-style: preserve-3d;
        .top {
            height: fit-content;
            h3 {
                font-weight: 300;
                span {
                    display: none;
                }
            }
        }
        .top * {
            font-size: var(--font-46);
            font-weight: 400;
            color: var(--secondaryBlack);
            line-height: 1.1;
        }
        .bottom {
            width: 100%;
            display: grid;
            grid-template-columns: 60% 35%;
            gap: 5%;
            height: 100%;
            .left {
                display: flex;
                flex-direction: column;
                .inner_top {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: calc(var(--font-46) * 2);
                    margin-right: calc(-1.3 * var(--font-24));
                    .tag_div {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--font-16);
                        margin-bottom: var(--font-20);
                        margin-top: calc(var(--font-16) / 2);
                        .tags {
                            font-size: var(--font-20);
                            text-transform: uppercase;
                            padding: 5px 20px;
                            background-color: #dadada;
                            color: #6c6c6c;
                            cursor: pointer;
                        }
                        .tags.active {
                            background-color: var(--green);
                            font-weight: 600;
                            color: var(--secondaryBlack);
                        }
                        .tags.unactive {
                            background-color: #dadada;
                            color: #6c6c6c;
                        }
                    }
                    .copy * {
                        font-size: var(--font-20);
                        color: var(--secondaryBlack);
                        font-weight: 300;
                    }
                    .count {
                        height: fit-content;
                        font-size: var(--font-46);
                        color: var(--secondaryBlack);
                        line-height: 1;
                    }
                }

                .inner_bottom {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-around;
                    & > p{
                        color: var(--secondaryBlack);
                    }
                    & > div {
                        width: 50%;
                        min-width: 500px;
                    }
                    * {
                        font-size: var(--font-20);
                        color: #000;
                        font-weight: 300;
                    }
                    .title {
                        font-weight: 500;
                    }
                    .second {
                        margin-left: auto;
                    }
                }
            }
            .right {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                img {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: calc(100% + 100px);
                    object-fit: cover;
                    transform: translateY(-100px);
                }
            }
        }
    }
    #textile_processing .inner_bottom{
        display: none;
    }
    #textile_processing #dyeing{
        display: flex;
    }
}

@media screen and (max-width: 1530px) {
    #parking {
        .containers {
            // padding: 30px var(--paddingX);
        }
    }
}
@media screen and (max-width: 1024px) {
    #textile_details {
        grid-template-columns: 1fr;
        .description {
            align-items: flex-start;
            gap: 20px;
        }
    }
    #parking {
        .containers {
            padding: 30px var(--paddingX);
            gap: 25px;
            .top {
                h3 {
                    span {
                        display: inline;
                        margin-right: 10px;
                    }
                }
            }
            .bottom {
                display: flex;
                flex-direction: column-reverse;
                gap: 20px;
                .left {
                    .inner_top {
                        grid-template-columns: 1fr;
                        margin-right: 0;
                        .count {
                            display: none;
                        }
                        .copy * {
                            font-size: var(--font-20);
                        }
                        .tag_div {
                            gap: 5px;
                            .tags {
                                padding: 4px 15px;
                                font-size: var(--font-20);
                            }
                        }
                    }
                    .inner_bottom {
                        margin-top: 15px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        * {
                            font-size: var(--font-20);
                        }
                        & > div {
                            width: 100%;
                            min-width: unset;
                        }
                    }
                }
                .right{
                    max-height: 500px;
                }
            }
        }
        #textile_processing #dyeing{
            display: grid;
            p{
                grid-area: 1 / 1 / 2 / 3;
            }
            .first{
                grid-area: 2 / 1 / 3 / 2;
            }
            .second{
                grid-area: 2 / 2 / 3 / 3;
            }
        }
        #textile_processing .inner_bottom {
            margin: 0 !important;
            p{
                grid-area: 1 / 1 / 2 / 3;
            }
            .first{
                grid-area: 2 / 1 / 3 / 2;
            }
            .second{
                grid-area: 2 / 2 / 3 / 3;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #parking {
        .containers {
            gap: 25px;
            padding: var(--spaceBelow_heading) var(--paddingX);
            .top {
                h3 {
                    span {
                        display: inline;
                        margin-right: 10px;
                    }
                }
            }
            .bottom {
                display: flex;
                flex-direction: column-reverse;
                gap: 20px;
                justify-content: flex-end;
                .right{
                    max-height: 350px;
                }
                .left {
                    .inner_top {
                        grid-template-columns: 1fr;
                        margin-right: 0;
                        .count {
                            display: none;
                        }
                        .copy * {
                            font-size: var(--font-14);
                        }
                        .tag_div {
                            gap: 5px;
                            .tags {
                                padding: 4px 15px;
                                font-size: var(--font-14);
                            }
                        }
                    }
                    .inner_bottom {
                        margin-top: 15px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 15px;
                        * {
                            font-size: var(--font-14);
                        }
                        & > div {
                            width: 100%;
                            min-width: unset;
                        }
                    }
                }
            }
        }
        #textile_processing #dyeing{
            display: grid;
        }
    }
}
