body {
  background-color: #fffff4;
}

#about_btc {
  padding: var(--paddingY) 0px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
#about_btc > img:first-child {
  position: absolute;
  inset: 0;
  width: 85%;
  z-index: -1;
  transform: translate(54%, -45%) rotate(-70deg);
}
#about_btc > img:nth-child(2) {
  position: absolute;
  inset: 0;
  width: 60%;
  z-index: -1;
  transform: translate(-47%, 67%) rotate(144deg);
}
#about_btc .about_btc_head {
  padding: 0px var(--paddingX);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about_btc .about_btc_head .heading h2 {
  color: var(--secondaryBlack);
}
#about_btc .about_btc_button_container {
  padding: 0 var(--paddingX) var(--paddingY);
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
#about_btc .about_btc_buttons {
  padding-top: var();
  display: flex;
  gap: 15px;
}
#about_btc .about_btc_buttons button {
  padding: 15px;
  height: var(--navBtn);
  width: var(--navBtn);
  background-color: #d4ff32;
  border: 0px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about_btc .about_btc_buttons button img {
  height: 100%;
  width: 100%;
  opacity: 1;
}
#about_btc .about_btc_buttons button.swiper-button-disabled {
  background-color: #e4e4e4;
}
#about_btc .about_btc_buttons button.swiper-button-disabled img {
  opacity: 0.4;
}
#about_btc .about_btc_buttons .about_btc-prev img {
  transform: rotate(180deg);
}
#about_btc .about_btc_container {
  margin-top: var(--spaceBelow_heading);
}
#about_btc .about_btc_container .about_btc {
  padding: 0 var(--paddingX);
}
#about_btc .about_btc_container .about_btc .category_item {
  height: auto;
  background-color: #ffffff;
}
#about_btc .about_btc_container .about_btc .category_item .category_image {
  width: 100%;
  aspect-ratio: 481/298;
  position: relative;
  overflow: hidden;
  display: block;
}
#about_btc .about_btc_container .about_btc .category_item .category_image > img {
  width: 100%;
  height: calc(100% + 50px);
  transform: translateY(-50px);
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
}
#about_btc .about_btc_container .about_btc .category_item .category_image p {
  white-space: nowrap;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#about_btc .about_btc_container .about_btc .category_item .category_description {
  text-decoration: none;
  font-size: var(--font-16);
  font-weight: 300;
  color: var(--tertiaryBlack);
  display: block;
  padding: var(--font-16);
}
#about_btc .about_btc_container .about_btc .category_item .category_description strong {
  color: #000;
  font-weight: 300;
}

#vision_mission {
  padding: var(--paddingY) var(--paddingX);
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 40px;
  align-items: center;
}
#vision_mission .vision_mission_container {
  height: clamp(23.75rem, 5.2572rem + 21.6606vw, 31.25rem);
  overflow: hidden;
}
#vision_mission .videoC {
  display: initial;
}
#vision_mission .text {
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(20%);
}
#vision_mission .vision_mission_container:first-child {
  grid-area: 1/2/2/3;
}
#vision_mission .vision_mission_container h2 {
  font-size: var(--font-46);
  font-weight: 400;
  color: var(--secondaryBlack);
  margin-bottom: 20px;
}
#vision_mission .vision_mission_container p {
  font-size: var(--font-20);
  color: var(--tertiaryBlack);
  font-weight: 300;
}
#vision_mission .vision_mission_container p strong {
  font-weight: 300;
  color: #000;
}
#vision_mission .vision_mission_container img,
#vision_mission .vision_mission_container video {
  width: 100%;
  height: calc(100% + 150px);
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-150px);
}
#vision_mission .swiper {
  width: 100%;
  height: 100%;
}

#our_leadership {
  padding: var(--paddingY) var(--paddingX);
  background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);
  overflow: hidden;
  position: relative;
}
#our_leadership > img {
  width: 100%;
  position: absolute;
  transform: rotate(180deg) translate(10%, -10%);
  inset: 0;
  z-index: 0;
  opacity: 0.01;
  top: -20%;
  left: 10%;
  pointer-events: none;
}
#our_leadership .heading {
  position: relative;
  margin-bottom: var(--spaceBelow_heading);
}
#our_leadership .heading h2 {
  color: #ffffff;
}
#our_leadership .heading p {
  color: rgba(255, 255, 255, 0.6);
}
#our_leadership .our_leadership_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: var(--font-46);
  position: relative;
}
#our_leadership .our_leadership_container .leader_card {
  position: relative;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
#our_leadership .our_leadership_container .leader_card .leader_image {
  position: relative;
  width: 100%;
  aspect-ratio: 345/295;
}
#our_leadership .our_leadership_container .leader_card .leader_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  inset: 0;
}
#our_leadership .our_leadership_container .leader_card .leader_detail {
  margin-top: 20px;
  padding-right: 40px;
}
#our_leadership .our_leadership_container .leader_card .leader_detail .leader_title {
  color: var(--green);
  font-size: var(--font-24);
  font-weight: 700;
}
#our_leadership .our_leadership_container .leader_card .leader_detail .leader_description {
  color: #fff;
  font-size: var(--font-18);
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
}
#our_leadership .our_leadership_container .leader_card .leader_detail .leader_description a {
  height: clamp(1.875rem, 1.765rem + 0.3521vw, 2.1875rem);
}
#our_leadership .our_leadership_container .leader_card .leader_detail .leader_description a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#our_leadership .our_leadership_container .leader_card .leader_detail .leader_bio {
  display: none;
}

#product_page_details {
  position: relative;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--paddingY) var(--paddingX);
  justify-content: space-between;
}
#product_page_details > img {
  position: absolute;
  inset: 0;
  width: 64%;
  z-index: -1;
  transform: translate(-15%, -10%) rotate(200deg);
}
#product_page_details .shareholder_logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--spaceBelow_heading) * 1);
}
#product_page_details .shareholder_logos > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spaceBelow_heading) * 1.5);
}
#product_page_details .shareholder_logos .logo {
  height: clamp(7.5rem, 4.375rem + 4.1667vw, 9.375rem);
  width: auto;
  aspect-ratio: 2/1;
  -o-object-fit: contain;
     object-fit: contain;
}
#product_page_details .shareholder_logos .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#arise_details {
  position: relative;
  padding: var(--paddingY) var(--paddingX);
  background-color: #fff;
}
#arise_details .heading {
  margin-bottom: var(--spaceBelow_heading);
}
#arise_details .heading h2 {
  margin: 0;
}
#arise_details .arise_container {
  display: grid;
  grid-template-columns: clamp(21.875rem, 13.5417rem + 17.3611vw, 34.375rem) auto;
  gap: var(--font-46);
  align-items: center;
}
#arise_details .arise_container .logo_container img {
  width: 100%;
}
#arise_details .arise_container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: calc(var(--font-24) * 1);
}
#arise_details .arise_container .description p {
  font-size: var(--font-20);
  color: var(--secondaryBlack);
}

#our_impact {
  padding: var(--paddingY) var(--paddingX);
}
#our_impact .our_impact_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: var(--spaceBelow_heading) 0px 0;
}
#our_impact .our_impact_container .impact_wrapper {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: height 1s ease;
}
#our_impact .our_impact_container .impact_wrapper .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8509803922) 25%, transparent);
  z-index: 0;
}
#our_impact .our_impact_container .impact_wrapper.open .impact_wrapper_head .open-btn {
  opacity: 0;
}
#our_impact .our_impact_container .impact_wrapper .impact_wrapper_head {
  position: relative;
  padding: 20px var(--font-24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: all 0.3s;
}
#our_impact .our_impact_container .impact_wrapper .impact_wrapper_head h2 {
  color: #fff;
  font-size: var(--font-46);
  font-weight: 700;
}
#our_impact .our_impact_container .impact_wrapper .impact_wrapper_head .open-btn {
  padding: 10px;
  height: var(--navBtn);
  width: var(--navBtn);
  border: 0px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
#our_impact .our_impact_container .impact_wrapper .impact_wrapper_head .open-btn img {
  transform: rotate(90deg);
}
#our_impact .our_impact_container .impact_wrapper .content {
  display: none;
  grid-template-columns: 1fr clamp(18.75rem, -2.0833rem + 27.7778vw, 31.25rem);
  position: relative;
  justify-items: stretch;
  align-items: end;
  z-index: 1;
  color: #fff;
  gap: 40px;
  padding: 0 var(--font-24) var(--font-24);
}
#our_impact .our_impact_container .impact_wrapper .content .content-details .content-detail {
  /* display: flex; */
  gap: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 300px));
  margin: clamp(0rem, -4.1667rem + 5.5556vw, 2.5rem) 0 clamp(1.25rem, -5rem + 8.3333vw, 5rem);
}
#our_impact .our_impact_container .impact_wrapper .content .content-details .content-detail h2 {
  font-size: clamp(1.625rem, -0.4583rem + 2.7778vw, 2.875rem);
  color: var(--green);
}
#our_impact .our_impact_container .impact_wrapper .content .content-details .content-detail p {
  font-size: var(--font-18);
  color: rgba(255, 255, 255, 0.8);
}
#our_impact .our_impact_container .impact_wrapper .content .content-details ul {
  margin-left: 1rem;
}
#our_impact .our_impact_container .impact_wrapper .content .content-details ul li {
  font-size: var(--font-18);
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}
#our_impact .our_impact_container .impact_wrapper .content .content-btn .cta {
  float: right;
}
#our_impact .our_impact_container .bg-partners {
  background-image: url("../images/partners.jpg");
}
#our_impact .our_impact_container .bg-people {
  background-image: url("../images/people.jpg");
}
#our_impact .our_impact_container .bg-planet {
  background-image: url("../images/planet.jpg");
}

#certificates_compliances {
  padding: var(--paddingY) var(--paddingX);
  background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);
  position: relative;
  z-index: 1;
}
#certificates_compliances .heading p {
  color: rgba(255, 255, 255, 0.6);
}
#certificates_compliances .heading h2 {
  color: #ffffff;
}
#certificates_compliances .cc_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
  margin-top: var(--spaceBelow_heading);
}
#certificates_compliances .cc_container .certificate_card {
  display: grid;
  grid-template-columns: clamp(6.25rem, 4.5833rem + 3.4722vw, 8.75rem) auto;
  align-items: center;
  gap: var(--font-20);
  padding-right: clamp(0rem, -1rem + 5vw, 5rem);
}
#certificates_compliances .cc_container .certificate_card .certificate_logo img {
  width: 100%;
  height: auto;
  max-width: 140px;
}
#certificates_compliances .cc_container .certificate_card .certificate_description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#certificates_compliances .cc_container .certificate_card .certificate_description .certificate_title {
  all: unset;
  font-size: var(--font-18);
  font-weight: 400;
  margin: 0;
  color: var(--green) !important;
  line-height: 1.3;
}
#certificates_compliances .cc_container .certificate_card .certificate_description p {
  margin: 0;
  font-size: var(--font-16);
  line-height: 1.5;
  color: #fff;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  padding: clamp(1.875rem, -6.5385rem + 9.6154vw, 5rem);
  z-index: 9999999999999;
  transition: none;
}
#popup #closeBtn {
  all: unset;
  line-height: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 9999;
  background-color: #979797;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}
#popup .pop_content::-webkit-scrollbar {
  display: none;
}
#popup .pop_container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: clamp(1.875rem, -6.5385rem + 9.6154vw, 5rem);
  background: #fff;
  position: relative;
  grid-template-columns: 45% 50%;
  gap: 5%;
}
#popup .pop_container #popupImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#popup .pop_container .pop_content {
  width: 100%;
  padding: 20px;
  padding-top: 0;
  overflow-y: auto;
}
#popup .pop_container .pop_content #popupHeading {
  font-size: var(--font-46);
  color: var(--blue);
}
#popup .pop_container .pop_content #popupPara {
  font-size: var(--font-24);
  display: flex;
  align-items: center;
  gap: 10px;
}
#popup .pop_container .pop_content #popupPara a {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  display: inline-block;
}
#popup .pop_container .pop_content #popupPara a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#popup .pop_container .pop_content #leader_bio {
  margin-top: 40px;
}
#popup .pop_container .pop_content #leader_bio p {
  font-size: var(--font-18);
  color: var(--secondaryBlack);
}

@media screen and (max-width: 1200px) {
  #our_leadership .our_leadership_container {
    grid-template-columns: repeat(2, 1fr);
  }
  #certificates_compliances .cc_container {
    grid-template-columns: 1fr;
  }
  #popup {
    padding: 0;
  }
  #popup .pop_container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 30px;
    overflow: scroll;
  }
  #popup .pop_container #popupImg {
    max-width: 600px;
    max-height: 600px;
  }
  #popup .pop_container .pop_content {
    overflow: visible;
  }
  #popup .pop_container .pop_content #leader_bio {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  #arise_details .heading {
    margin-bottom: 20px;
  }
  #arise_details .arise_container {
    grid-template-columns: 1fr;
  }
  #arise_details .arise_container .logo_container img {
    width: 45%;
    min-width: 150px;
  }
  #arise_details .arise_container .description {
    align-items: flex-start;
  }
  #product_page_details {
    flex-direction: column;
    gap: var(--spaceBelow_heading);
    align-items: flex-start;
  }
  #product_page_details .shareholder_logos {
    flex-wrap: nowrap;
    width: 100%;
  }
  #product_page_details .shareholder_logos > div {
    gap: 30px;
  }
  #product_page_details .shareholder_logos .logo {
    height: auto;
    width: clamp(8.75rem, 3.9694rem + 18.2119vw, 15.625rem);
    height: calc(clamp(8.75rem, 3.9694rem + 18.2119vw, 15.625rem) / 1.5);
  }
}
@media screen and (max-width: 768px) {
  #vision_mission {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .vision_mission_container {
    width: 100%;
  }
  #our_leadership .our_leadership_container {
    grid-template-columns: 1fr;
  }
  #certificates_compliances .cc_container .certificate_card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #certificates_compliances .cc_container .certificate_card .certificate_logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  #certificates_compliances .cc_container .certificate_card .certificate_logo img {
    width: clamp(5rem, 4.1308rem + 3.3113vw, 6.25rem);
    max-width: clamp(5rem, 4.1308rem + 3.3113vw, 6.25rem);
    height: clamp(5rem, 4.1308rem + 3.3113vw, 6.25rem);
    max-height: clamp(5rem, 4.1308rem + 3.3113vw, 6.25rem);
    -o-object-fit: contain;
       object-fit: contain;
  }
  #our_impact .our_impact_container .impact_wrapper .impact_wrapper_head {
    padding: 20px;
  }
  #our_impact .our_impact_container .impact_wrapper .impact_wrapper_head .open-btn {
    padding: 10px;
    height: var(--navBtn);
    width: var(--navBtn);
    border: 0px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
  }
  #our_impact .our_impact_container .impact_wrapper .impact_wrapper_head .open-btn img {
    transform: rotate(90deg);
  }
  #our_impact .our_impact_container .impact_wrapper .content {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 30px;
  }
  #popup #closeBtn {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  #popup .pop_container {
    gap: 20px;
    padding: 15px;
  }
  #popup .pop_container #popupImg {
    max-width: 600px;
    max-height: 600px;
    height: 450px;
  }
  #popup .pop_container .pop_content #leader_bio {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */