.thankYou{
    padding: var(--paddingY) var(--paddingX);
    background: white;
    display: grid;
    place-items: center;
    height: 80vh;
    max-height: 600px;
    text-align: center;
    #thankYouLottie{
        width: 100%;
        max-width: 600px;
    }
    .content_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .content{
            transform: translateY(-35%);
        }
        h1{
            font-size: var(--font-46);
            color: #000;
            line-height: 1.1;
        }
        p{
            font-size: var(--font-24);
            margin: 10px 0px 30px;
            max-width: 1050px;
            text-align: center;
            font-weight: 300;
        }
    }
}


#more_news {

  .heading {
    padding: var(--paddingY) var(--paddingX);
    padding-bottom: 0px;
  }
  .more_news_button_container {
    padding: var(--spaceBelow_heading) var(--paddingX);
    display: flex;
    justify-content: flex-end;
  }
  .more_news_buttons {
    display: flex;
    gap: 15px;
    button {
      padding: 15px;
      height: var(--navBtn);
      width: var(--navBtn);
      background-color: #d4ff32;
      border: 0px solid #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: 100%;
        opacity: 1;
      }
    }
    button.swiper-button-disabled {
      background-color: #e4e4e4;
      img {
        opacity: 0.4;
      }
    }
    .about_more_news-prev {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .more_news_container {
    margin-top: var(--spaceBelow_heading);

    .about_more_news {
      padding-left: var(--paddingX);
      .blog_card {
        // border: 1px solid;
        // width: 580px;

        .blog_image {
          aspect-ratio: 494/368;
          width: 100%;
          position: relative;
          overflow: hidden;
          display: block;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
          }
        }
        .blog_description {
          margin: 25px 0px;
          margin-bottom: 0;
          text-decoration: none;
          line-height: 1.5;
          font-weight: 300;
          display: block;
          p {
            font-size: var(--font-18);
            margin-bottom: 15px;
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          h3 {
            font-size: var(--font-24);
            font-weight: 400;
            margin-bottom: 20px;
            padding-right: 40px;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.4;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
      #more_news {
    .more_news_button_container {
      padding-top: 20px;
    }

    .more_news_container {
      margin-top: 20px;

      .about_more_news {
        padding: 0 var(--paddingX);
      }
    }
  }
}