#globalSearch {
    width: 100%;
    aspect-ratio: 16/8;
    position: relative;
    padding: var(--paddingY) var(--paddingX);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    & > svg {
        position: absolute;
        height: 100%;
        width: auto;
        right: 0;
        top: 0;
    }
    .content {
        position: relative;
        padding: 40px;
        background-color: #fff;
        h2 {
            font-size: var(--font-46);
            line-height: 1.3;
            font-weight: 400;
            color: var(--secondaryBlack);
            margin-bottom: calc(var(--spaceBelow_heading) / 2);
        }
        ul,
        ol {
            padding-left: 1.5rem;
        }
        ul * {
            font-size: var(--font-20);
            color: var(--secondaryBlack);
        }
    }
}

#sustainableManufacturer {
    position: relative;
    padding: calc(var(--paddingY) / 3) var(--paddingX) var(--paddingY);
    overflow: hidden;
    & > .layer {
        position: absolute;
        inset: 0;
        width: 100%;
        pointer-events: none;
    }
    & > div {
        position: relative;
        z-index: 1;
        display: grid;
        gap: clamp(2.5rem, -2.7419rem + 6.4516vw, 5rem);
        align-items: center;
        margin-bottom: clamp(1.875rem, -0.746rem + 3.2258vw, 3.125rem);
        .img {
            position: relative;
            width: 100%;
            aspect-ratio: 6/4;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            p {
                position: absolute;
                padding: var(--font-24);
                width: 100%;
                bottom: 1%;
                left: 0;
                font-size: var(--font-46);
                font-weight: 500;
                line-height: 1.2;
                color: #f7f7f7;
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }
        .text {
            p,
            li {
                font-size: var(--font-20);
                font-weight: 300;
                line-height: 1.5;
                color: var(--primaryBlack);
                margin: 5px 0;
            }
            ol,
            ul {
                padding-left: 1.2rem;
                margin-top: var(--font-24);
            }
        }
    }
    & > div:last-child {
        margin-bottom: 0;
    }
    & > div:nth-child(odd) {
        grid-template-columns: 65% calc(35% - clamp(2.5rem, -2.7419rem + 6.4516vw, 5rem));
    }
    & > div:nth-child(even) {
        grid-template-columns: calc(35% - clamp(2.5rem, -2.7419rem + 6.4516vw, 5rem)) 65%;
    }
}

#glance {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);
    svg {
        width: 100%;
        height: 100%;
    }
    .content {
        position: absolute;
        width: 55%;
        height: 100%;
        margin-left: auto;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--paddingY) calc(var(--paddingX) / 2);
        background: linear-gradient(180deg, #2f287499 0%, #201a5bf2 100%);
        .first {
            font-size: var(--font-20);
            color: #fff;
        }
        .second {
            font-size: var(--font-46);
            font-weight: 400;
            color: #fff;
        }
        .subContent {
            margin-top: var(--spaceBelow_heading);
            display: grid;
            grid-template-columns: 47.5% 47.5%;
            gap: 5%;
            * {
                line-height: 1.3;
            }
            .title {
                font-size: var(--font-24);
                font-weight: 300;
                color: #fff;
            }
            .copy {
                font-size: calc(var(--font-46) - 5px);
                color: var(--green);
                font-weight: 700;
            }
            .copy2 {
                font-size: calc(var(--font-46) / 2);
                color: var(--green);
                font-weight: 500;
            }
        }
    }
}

#homeOfBtc {
    position: relative;
    padding: var(--paddingY) var(--paddingX);
    padding-bottom: clamp(12.5rem, -7.1573rem + 24.1935vw, 21.875rem);
    background: linear-gradient(180deg, #ffffff 0%, #ecf3ff 100%);
    .layer {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }
    .heading {
        h3 {
            color: var(--blue);
        }
    }
    display: flex;
    flex-direction: column;
    gap: var(--spaceBelow_heading);
    .content {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 10%;
        .first * {
            font-size: var(--font-20);
            color: var(--secondaryBlack);
            font-weight: 300;
            line-height: 1.6;
            strong,
            b {
                font-weight: 600;
            }
        }
        .second {
            .title {
                color: var(--secondaryBlack);
                font-size: var(--font-20);
                font-weight: 600;
            }
            .swiper-wrapper {
                margin-top: calc(var(--font-20) * 1.5);
                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--font-20) * 2);
                    & > div {
                        display: flex;
                        align-items: center;
                        gap: calc(var(--font-20) * 1.2);
                        & > div {
                            max-width: 350px;
                        }
                        img {
                            height: clamp(8.75rem, 3.5081rem + 6.4516vw, 11.25rem);
                            width: clamp(8.75rem, 3.5081rem + 6.4516vw, 11.25rem);
                            background-color: var(--green);
                            padding: 30px;
                        }
                        .titles {
                            font-size: var(--font-16);
                            margin-bottom: var(--font-16);
                            font-weight: 700;
                            color: var(--blue);
                        }
                        .copy {
                            font-size: var(--font-14);
                        }
                    }
                }
            }
        }
    }
}

#roleOfbtc {
    position: relative;
    padding: var(--paddingY) var(--paddingX);
    overflow: hidden;
    .layer {
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        pointer-events: none;
    }
    .heading {
        position: relative;
        margin-bottom: var(--spaceBelow_heading);
        p {
            font-weight: 300;
            color: var(--secondaryBlack);
            text-transform: none;
        }
        h3 {
            font-weight: 300;
            color: var(--blue);
        }
    }
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: clamp(1.875rem, -0.746rem + 3.2258vw, 3.125rem);
        & > div {
            display: grid;
            grid-template-columns: 48% 48%;
            gap: 4%;
            align-items: center;
            .img {
                aspect-ratio: 5/4;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text * {
                font-size: var(--font-20);
                font-weight: 300;
                color: var(--secondaryBlack);
                strong,
                b {
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    #globalSearch {
        aspect-ratio: unset;
        padding-top: clamp(12.5rem, 5.375rem + 30vw, 20.75rem);
        & > svg {
            // height: auto;
            // width: 120%;
        }
        .content {
            padding: 20px;
        }
    }
    #sustainableManufacturer {
        padding: 0 var(--paddingX) var(--paddingY);
        & > div:nth-child(odd) {
            grid-template-columns: 55% calc(45% - 30px);
        }
        & > div:nth-child(even) {
            grid-template-columns: calc(45% - 30px) 55%;
        }
    }
}

@media screen and (max-width: 1024px) {
    #globalSearch{
        max-height: 700px;
        height: auto;
        & >  svg{
            width: 105%;
            height: auto;
        }
    }
    #sustainableManufacturer {
        padding: 0 var(--paddingX) var(--paddingY);
        & > div {
            align-items: flex-start;
            gap: 20px;
            margin-bottom: 40px;
            .img {
                aspect-ratio: 5/4;
                p {
                    bottom: 0;
                }
            }
            .text {
                ul,
                ol {
                    margin-top: 10px;
                }
            }
        }
        & > div:nth-child(odd) {
            display: flex;
            flex-direction: column;
        }
        & > div:nth-child(even) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    #glance {
        aspect-ratio: unset;
        overflow: hidden;
        & > svg {
            position: relative;
            width: 120%;
        }
        .content {
            position: relative;
            width: 100%;
            padding: var(--paddingX);
            .subContent {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                & > div {
                    width: calc((90vw - 20px) / 2);
                }
            }
        }
    }
    #homeOfBtc {
        overflow: hidden;
        padding-bottom: clamp(14.375rem, 21.5865rem + -28.8462vw, 3.125rem);
        .layer {
            width: 160%;
        }
        .content {
            display: flex;
            flex-direction: column;
            .second {
                .swiper-wrapper {
                    .swiper-slide {
                        & > div {
                            img {
                                width: 80px;
                                height: 80px;
                                padding: 15px;
                            }
                            .titles {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #globalSearch{
        & > svg{
            width: 130%;
            height: auto;
        }
    }
    #roleOfbtc {
        .content {
            & > div {
               display: flex;
               flex-direction: column-reverse;
               gap: 20px;
               .img{
                   width: 100%;
                   aspect-ratio: 1 / 1;
               }
            }
            & > div:nth-child(even) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
