#aboutBtc {
    background-color: #fffff4;
    width: 100%;
    position: relative;
    padding: var(--paddingY) var(--paddingX) var(--paddingY);
    .worldMap {
        position: absolute;
        top: var(--paddingY);
        right: 0;
        width: 80%;
        height: calc(100% - 300px);
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spaceBelow_heading);
        position: relative;
        .headNum {
            p {
                font-size: var(--font-20);
                color: var(--tertiaryBlack);
                font-weight: 700;
                font-size: bold;
            }
            h2 {
                font-size: var(--font-46);
                font-weight: 400;
                color: var(--secondaryBlack);
                margin-top: var(--headingTop);
            }
        }
        .sliderAbout {
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 30px;
            margin: 0;
            min-width: 450px;
            .slides_about {
                .tiles {
                    width: calc(100% - 5px);
                    background-color: #fff;
                    border: 1px solid #d9d9d9;
                    gap: 30px;
                    display: flex;
                    padding: 30px;
                    flex-direction: column;
                    gap: 50px;
                    aspect-ratio: 3/2.4;
                    min-height: 400px;
                    & > div:first-child {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .number {
                            font-size: calc(var(--font-46) * 1.5);
                            font-weight: 700;
                            color: var(--blue);
                        }
                        .tag {
                            font-size: var(--font-20);
                            color: var(--secondaryBlack);
                            background-color: #e4e4e4;
                            padding: 10px 20px;
                        }
                    }
                    & > div:last-child {
                        p {
                            font-size: var(--font-20);
                            color: var(--tertiaryBlack);
                            font-weight: 300;
                            span {
                                color: var(--secondaryBlack);
                            }
                        }
                    }
                }
            }
            .navigation_about {
                display: flex;
                gap: 15px;
                button {
                    position: relative;
                    padding: 15px;
                    height: var(--navBtn);
                    width: var(--navBtn);
                    background-color: #3B3B3B;
                    border: 1px solid #d9d9d9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: unset;
                    left: unset;
                    margin: unset;
                    top: unset;
                    img {
                        height: 100%;
                        width: 100%;
                        filter: invert(1);
                    }
                    &::after,
                    &::before {
                        content: "";
                    }
                }
                .prev {
                    position: relative;
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .cta {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#ourProducts {
    background-color: #fff;
    padding-bottom: 50px;
    .heading {
        padding: var(--paddingY) var(--paddingX) var(--spaceBelow_heading);
    }
    .content {
        overflow: hidden;
        .ourProducts {
            height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
            overflow: unset;
            & > .swiper-wrapper {
                height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
            }
            .items.swiper-slide-active {
                & > div {
                    height: calc(clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem) + 150px);
                    p {
                        opacity: 1;
                    }
                }
                & > p {
                    opacity: 0;
                }
            }
            .items {
                & > div {
                    transition: all 0.3s ease;
                    position: relative;
                    width: 100%;
                    height: clamp(23.75rem, 8.0357rem + 24.5536vw, 37.5rem);
                    & > img {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .cta {
                        position: absolute;
                        right: 30px;
                        bottom: 30px;
                    }
                    p {
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: var(--font-24);
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                }
                & > p {
                    font-size: var(--font-24);
                    color: var(--secondaryBlack);
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-top: 20px;
                }
            }
            .btnss {
                position: absolute;
                right: 10%;
                bottom: 0%;
                z-index: 9;
                display: flex;
                flex-direction: row-reverse;
                gap: 15px;
                .swiper-button-prev {
                    img {
                        transform: rotate(180deg);
                    }
                }
                .swiper-button-disabled {
                    background-color: #e4e4e4;
                    opacity: 1;
                    img {
                        opacity: 0.4;
                    }
                }

                button {
                    padding: 15px;
                    height: var(--navBtn);
                    width: var(--navBtn);
                    border: 0;
                    background-color: var(--green);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: unset;
                    &:after,
                    &:before {
                        display: none;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

#sustainabiltyStandard {
    background-color: #fffff4;
    display: grid;
    grid-template-columns: 47% 48%;
    gap: 5%;
    padding: var(--paddingY) var(--paddingX) var(--paddingY);
    align-items: center;
    position: relative;
    overflow: hidden;
    .back_svg {
        position: absolute;
        height: 100%;
        pointer-events: none;
    }
    .leftContent {
        display: flex;
        flex-direction: column;
        gap: var(--spaceBelow_heading);
        position: relative;
    }
    .accordian {
        position: relative;
        .faq {
            border-bottom: 1px solid grey;
            padding: max(20px, 4%) 0;
            .head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;

                .open {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: block;
                    transform: translateY(-3px);
                    transition: all 0.3s;
                }
                p {
                    font-size: var(--font-24);
                    color: var(--text-color);
                    font-weight: 300;
                }
            }
            .ans {
                padding-right: 30px;
                display: none;
                p,
                li {
                    color: var(--tertiaryBlack);
                    font-size: var(--font-20);
                    padding-top: 3%;
                    font-weight: 300;
                    span {
                        color: var(--secondaryBlack);
                    }
                }
                ul,
                ol {
                    padding-left: 1.4rem;
                }
            }
        }
        .faq.default-open {
            .head {
                .open {
                    transform: rotateX(180deg);
                }
            }
        }
    }
}

#ourCapabilities {
    overflow: hidden;
    background: linear-gradient(180deg, #2f2874 0%, #201a5b 100%);
    position: relative;
    .back {
        position: absolute;
        inset: 0;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }
    .leftContent {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: var(--paddingX);
        z-index: 2;
        max-width: clamp(14.375rem, 5.8036rem + 13.3929vw, 21.875rem);
        p {
            color: var(--green);
            opacity: 0.6;
        }
        h3 {
            color: #fff;
        }
    }
    .rightContent {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: calc(var(--paddingX) / 1.5);
        z-index: 2;
        width: 350px;
        p {
            font-size: var(--font-20);
            font-weight: 300;
            color: #ffffff99;
            span {
                color: #fff;
            }
        }
        button {
            margin-top: var(--font-24);
            white-space: pre;
        }
    }
    .swiper-slide {
        position: initial;
        height: 100%;
        width: 100%;
        // border: 1px solid #d9d9d9;
        display: grid;
        grid-template-columns: clamp(18.75rem, 4.6875rem + 18.75vw, 27.1875rem) auto;
        gap: 80px;

        .empty {
            height: 100%;
            aspect-ratio: 3/4.5;
        }
        .text {
            opacity: 0;
            transform: translateX(150px);
            h3 {
                font-size: var(--font-46);
                font-weight: 400;
                color: #fff;
                line-he
                span {
                    color: var(--green);
                }
            }
            img {
                width: 100%;
                margin: 2% 0 5%;
            }
            p {
                padding-right: 10vw;
                font-size: var(--font-20);
                font-weight: 300;
                color: #ffffff99;
                span {
                    color: #fff;
                }
            }
        }
    }
    .swiper-wrapper {
    }
    .btnssNew {
        position: absolute;
        right: var(--paddingX);
        bottom: var(--paddingY);
        z-index: 9;
        display: flex;
        flex-direction: row-reverse;
        gap: 15px;
        opacity: 0;
        transform: translate(150px, 0);
        .swiper-button-prev {
            img {
                transform: rotate(180deg);
            }
        }
        .swiper-button-disabled {
            background-color: #e4e4e4;
            opacity: 1;
            img {
                opacity: 0.4;
            }
        }

        button {
            padding: 15px;
            height: var(--navBtn);
            width: var(--navBtn);
            border: 0;
            background-color: var(--green);
            display: flex;
            align-items: center;
            justify-content: center;
            position: unset;
            &:after,
            &:before {
                display: none;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .cap_container {
        position: relative;
        padding: var(--paddingY) var(--paddingX) var(--paddingY);
        width: 100%;
        aspect-ratio: 16/8;
        display: block;
        .spiralImage.active {
            width: 100%;
            height: auto;
        }
        .spiralImage {
            position: absolute;
            height: 100%;
            width: auto;
            aspect-ratio: 3/4.5;
            left: 0%;
            object-fit: cover;
            transform: translate(0%, 0%);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#our_social {
    overflow: hidden;
}

#linkedIn_video {
    overflow: hidden;
    aspect-ratio: 16/7;
    width: 100%;
    min-height: 400px;
    position: relative;
    margin-bottom: var(--paddingY);
    video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
    }
}

@media screen and (max-width: 1546px) {
    #ourCapabilities {
        .swiper-slide {            
        }
        .cap_container {
            .spiralImage {
                // top: 50%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #sustainabiltyStandard {
        padding-bottom: calc(var(--paddingY) * 2);
        grid-template-columns: auto;
        .heading {
            max-width: 500px;
        }
    }
    #aboutBtc {
        .content {
            .sliderAbout {
                max-width: 400px;
                width: 100%;
                min-width: unset;
                .navigation_about {
                    button {
                        padding: 7px;
                    }
                }
            }
        }
    }

    #ourCapabilities {
        .swiper-slide {
            height: clamp(25rem, 6.25rem + 39.0625vw, 31.25rem);
            gap: 40px;
            grid-template-columns: auto auto;
            .empty {
                aspect-ratio: unset;
                width: clamp(15.625rem, -3.125rem + 39.0625vw, 21.875rem);
            }
        }
        .cap_container{
            aspect-ratio: unset;
            padding: clamp(9.375rem, -3.75rem + 27.3438vw, 13.75rem) var(--paddingX) var(--paddingY);
            .spiralImage{
                width: clamp(15.625rem, -3.125rem + 39.0625vw, 21.875rem);
            }
            .spiralImage.active{
                height: 100%;
                aspect-ratio: unset;
                width: clamp(15.625rem, -3.125rem + 39.0625vw, 21.875rem);
            }
        }
        .leftContent{
            left: 0;
            width: 100%;
            height: auto;
            top: var(--paddingY);
            max-width: unset;
            align-items: center;
        }
        .rightContent{
            padding-top: calc(var(--paddingY) * 2);
        }
    }
}

@media screen and (max-width: 769px) {
    #aboutBtc {
        & > .worldMap {
            width: 100%;
            height: auto;
            top: calc(var(--paddingY) * 2.5);
        }
        .content {
            .sliderAbout {
                margin-top: clamp(9.375rem, 19.5652rem + -40.7609vw, 0rem);
                .slides_about {
                    .tiles {
                        gap: 30px;
                        min-height: 350px;
                        & > div:first-child {
                            .number {
                                font-size: calc(var(--font-46) * 2);
                            }
                        }
                    }
                }
                .navigation_about {
                    button {
                        padding: 7px;
                    }
                }
            }
        }
    }

    #ourProducts {
        .content {
            padding: 0 var(--paddingX);
        }
    }

    #ourCapabilities {
        .swiper-slide {
            height: auto;
            gap: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80vw;
            .empty {
                aspect-ratio: unset;
                width: clamp(15.625rem, -3.2328rem + 71.8391vw, 31.25rem);
                height: 400px;
            }
        }
        .cap_container{
            aspect-ratio: unset;
            padding: clamp(9.375rem, -3.75rem + 27.3438vw, 13.75rem) var(--paddingX) var(--paddingY);
            .spiralImage{
                width: clamp(15.625rem, -3.2328rem + 71.8391vw, 31.25rem);
                height: 400px;
            } 
            .spiralImage.active{                
                aspect-ratio: unset;
                width: clamp(15.625rem, -3.2328rem + 71.8391vw, 31.25rem);
                height: 400px;
            }
        }
        .leftContent{
            left: 0;
            width: 100%;
            height: auto;
            top: var(--paddingY);
            max-width: unset;
            align-items: center;
        }
        .rightContent{
            height: auto;
            right: 0;
            width: 100%;
            bottom: var(--paddingY);
            padding: 0 var(--paddingX);
            align-items: center;
            p{
                max-width: 400px;
                text-align: center;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    #ourProducts {
        .content {
            .ourProducts {
                height: auto;
                aspect-ratio: 4/5;
                .items {
                    & > p{
                        opacity: 0;
                        margin-top: 28px;
                    }
                    & > div {
                        height: 100%;
                        .cta{
                            right: 20px;
                            bottom: 20px;
                        }
                    }
                }
                .items.swiper-slide-active {
                    & > div {
                        height: 100%;
                        p{
                            opacity: 0;
                        }
                    }
                    & > p{
                        opacity: 1;
                        margin-top: 28px;
                    }
                }
                & > .swiper-wrapper{
                    height: 100%;
                }
                .btnss{
                    position: initial;
                    height: var(--navBtn);
                    margin-top: 20px;
                    button{
                        margin: 0;
                        padding: 7px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    #aboutBtc {
        .cta {
            position: relative;
        }
    }
}
